SMTP_HOST=email-smtp.us-east-1.amazonaws.com
SMTP_PORT=587
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
FROM_ADDRESS=no-reply@example.com
SES_RATE_LIMIT=number_of_email_per_second
ANALYTICS_API_KEY=your-random-string-here
ANALYTICS_PORT=3100
